#top1{
    /* border: 2px red solid; */
    width: 100%;
    height: 110px;
    background-image: url( Untitled-1.jpg );
    background-size: 100%;
    display: flex;
    justify-content: center;   
}
#top{
    width: 100%;
    height: 20px;
    background-color: #d00000;
}
#topimg{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.topmarquee{
    font-family: arial;
    background-color: #6e71cc58;
    font-weight: 1000;
}
#hmain{
    /* border:2px solid red; */
    width: 100%;
    height: 700px;
    background-image: url(Untitled-2.jpg);
    background-size: 100% 700px;
}

.hbox{
    /* border: 3px black solid; */
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.779);
    text-align: right;
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 0px 5px 10px 5px black; */
   
}
.a1{
    color: white;
    padding-right: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}
#name{
    margin-left: 60px;
    margin-right: 60px;
}
#name1{
    font-size: 60px;
    text-align: center;
    color: #f0c740 ;
    font-family: arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
#name2{
    font-size: 30px;
    text-align: center;
    color: #f0c740;
    font-family: arial;
    margin-top: 0px;
}
#box1{
    /* border: 3px solid red; */
    width: 100%;
    height: 915px;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #f6ede7;
    background-image: url( aaabbb.webp);
    background-size:100% 100% ;
}
.box1{
    text-align: center;
    font-family: arial ;
    font-size: 50px;
    color: red;
    margin-top: 10px;
}
#box2{
    /* border: 2px solid black; */
    width: 100%;
    height: 350px;
    display: flex;
    border-radius: 30px;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 255, 0.749); */
    /* margin-top: 330px; */
}
.box2{
    /* border: 2px green dotted; */
    width: 50%;
    height: 350px;
    border-radius: 30px;
}
.box3{
    /* border: 2px green dotted; */
    width: 40%;
    height: 350px;
    border-radius: 30px;
    margin-left: 10%;
}
.about{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
padding-right: 70px;
margin-top: 20px;
padding-left: 40px;

}
.about1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace ;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 50px;
}
.hedding{
    
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
    font-size: 50px;
}
/* principal main */
#box3{
    /* border: 2px green solid; */
    width: 100%;
    height: 400px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
/* institute mission */
.box3_1{
    /* border: 2px blue solid; */
    width: 50%;
    height: 400px;
}
/* principal */
.box3_2{
    /* border: 2px blue solid; */
    width: 50%;
    height: 400px;
    box-shadow: 2px 2px 5px pink;
    background-color: #33CCCC;
    border-radius: 20px;

}
.box3_2_1{
    /* border: 2px solid red; */
    height: 300px;
    display: flex;
   
}
.principalpic{
    width: 200px;
    height: 200px;
    padding-left: 30px;
    padding-top: 30px;
}

/* courses offered */
#box4{
    /* border: 2px solid black ; */
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.box4{
    /* border: red solid; */
    width: 19%;
    height: 380px;
    /* display: flex; */
    /* justify-content:center; */
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #cdc9c8;
    
}
.sbox1{
    /* border: 2px green solid; */
    width: 100%;
    height: 80px;
    background-color: #6e71cc ;
    border-radius: 18px;
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 120px;
    padding-bottom: 1px;
    color: #f6ede7;
}
.ptag1{
    padding-left:10px ;
    font-family: arial;
    padding-top: 10px;
}
.a2{
    text-decoration:none;
    color: black;
}
 /* news */
.main{
    /* border:2px red solid ; */
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* margin: auto; */
}
.child1{
    /* border: 2px green solid; */
    width: 40%;
    height: 450px;
    /* margin: auto; */
    border-radius:30px 30px 30px 30px ;
    padding-top: 20px;
   

}
.child2{
    /* border: 2px black solid; */
    width: 100%;
    height:200px ;
    border-radius:30px 30px 30px 30px ;
    background-color:#c3dec8a1;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.child3{
    /* border: 2px blue solid; */
    width: 40%;
    height: 170px;
    border-radius:30px 30px 30px 30px ;
    padding-top: 30px;

}
.child5{
    /* border: 2px green solid; */
    width: 40%;
    height: 450px;
    /* margin: auto; */
    border-radius:30px 30px 30px 30px ;
    margin-left: 50px;
    margin-top: 20px;
}
.abox2{
    background-color:#6fbdcd;
    color: white;
    font-family: arial;
    font-size: 16px;
    text-align: center;
    font-weight: 900;
}
.abox3{
    margin-left:70px ;
    background-color:#6fcd9e;
    color: white;
    font-family: arial;
    font-size: 16px;
    text-align: center;
}
/* gallery */
.ghead{
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 70px ;
}
#gmain{
    /* border: 2px solid black; */
    width: 100%;
    height:300px ;
    display: flex;
    justify-content: center;
}
.gbox1{
    /* border: 2px red dotted; */
    height: 300px;
    width: 30%;
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: #edf184a5;
    margin-right: 1%;
    margin-left: 1%;
    text-decoration: none;
}
.gimage{
    width: 100%;
    height: 250px;
    border-radius: 30px;
}
    
