:root{
    --main-color:rgb(246, 192, 255);
    --main-border-radius:30px;
}
h1{
    text-align: center;
    font-family: 'Bungee Spice', cursive;
    font-size: 50px;
}
#box1{
 /* border: 2px double red; */
 width: 100%;
 height: 300px;
 display: flex;
}
#box2{
 /* border: 2px double red; */
 width: 100%;
 height: 300px;
 margin-top: 30px;
 display: flex;
}
#box3{
 /* border: 2px double red; */
 width: 100%;
 height: 300px;
 margin-top: 30px;
 display: flex;
}
.box1_1{
/* border: 2px double green; */
width: 30%;
height: 300px;
margin-left: 3%;
margin-right: 3%;
background-color: var(--main-color);
border-radius: var(--main-border-radius)
}
.box1_2{
/* border: 2px double green; */
width: 30%;
height: 300px;
background-color: aqua;
border-radius: var(--main-border-radius)
}
.box1_3{
/* border: 2px double green; */
width: 30%;
height: 300px;
margin-left: 3%;
margin-right: 3%;
background-color: aquamarine;
border-radius: var(--main-border-radius)
}
.box2_1{
/* border: 2px double green; */
width: 30%;
height: 300px;
margin-left: 3%;
margin-right: 3%;
background-color: aqua;
border-radius: var(--main-border-radius)
}
.box2_2{
/* border: 2px double green; */
width: 30%;
height: 300px;
background-color: var(--main-color);
border-radius: var(--main-border-radius)
}
.box2_3{
/* border: 2px double green; */
width: 30%;
height: 300px;
margin-left: 3%;
margin-right: 3%;
background-color: aqua;
border-radius: var(--main-border-radius)
}
.box3_1{
/* border: 2px double green; */
width: 30%;
height: 300px;
margin-left: 3%;
margin-right: 3%;
background-color: aquamarine;
border-radius: var(--main-border-radius)
}
.box3_2{
/* border: 2px double green; */
width: 30%;
height: 300px;
background-color: aqua;
border-radius: var(--main-border-radius)
}
.box3_3{
/* border: 2px double green; */
width: 30%;
height: 300px;
margin-left: 3%;
margin-right: 3%;
background-color: var(--main-color);
border-radius: var(--main-border-radius)
}
.img1{
    width: 100%;
    height: 100%;
    border-radius: 8%;
}
.img2{
    width: 100%;
    height: 90%;
    border-radius:8%;
}
.font{
    text-align: center;
    color: blue;
}